.language-scala .hll { background-color: #ffffcc }
.language-scala  { background: #f8f8f8; }
.language-scala .c { color: #408080; font-style: italic } /* Comment */
.language-scala .err { border: 1px solid #FF0000 } /* Error */
.language-scala .k { color: #008000; font-weight: bold } /* Keyword */
.language-scala .o { color: #666666 } /* Operator */
.language-scala .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.language-scala .cp { color: #BC7A00 } /* Comment.Preproc */
.language-scala .c1 { color: #408080; font-style: italic } /* Comment.Single */
.language-scala .cs { color: #408080; font-style: italic } /* Comment.Special */
.language-scala .gd { color: #A00000 } /* Generic.Deleted */
.language-scala .ge { font-style: italic } /* Generic.Emph */
.language-scala .gr { color: #FF0000 } /* Generic.Error */
.language-scala .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.language-scala .gi { color: #00A000 } /* Generic.Inserted */
.language-scala .go { color: #808080 } /* Generic.Output */
.language-scala .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.language-scala .gs { font-weight: bold } /* Generic.Strong */
.language-scala .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.language-scala .gt { color: #0040D0 } /* Generic.Traceback */
.language-scala .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.language-scala .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.language-scala .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.language-scala .kp { color: #008000 } /* Keyword.Pseudo */
.language-scala .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.language-scala .kt { color: #B00040 } /* Keyword.Type */
.language-scala .m { color: #666666 } /* Literal.Number */
.language-scala .s { color: #BA2121 } /* Literal.String */
.language-scala .na { color: #7D9029 } /* Name.Attribute */
.language-scala .nb { color: #008000 } /* Name.Builtin */
.language-scala .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.language-scala .no { color: #880000 } /* Name.Constant */
.language-scala .nd { color: #AA22FF } /* Name.Decorator */
.language-scala .ni { color: #999999; font-weight: bold } /* Name.Entity */
.language-scala .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.language-scala .nf { color: #0000FF } /* Name.Function */
.language-scala .nl { color: #A0A000 } /* Name.Label */
.language-scala .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.language-scala .nt { color: #008000; font-weight: bold } /* Name.Tag */
.language-scala .nv { color: #19177C } /* Name.Variable */
.language-scala .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.language-scala .w { color: #bbbbbb } /* Text.Whitespace */
.language-scala .mf { color: #666666 } /* Literal.Number.Float */
.language-scala .mh { color: #666666 } /* Literal.Number.Hex */
.language-scala .mi { color: #666666 } /* Literal.Number.Integer */
.language-scala .mo { color: #666666 } /* Literal.Number.Oct */
.language-scala .sb { color: #BA2121 } /* Literal.String.Backtick */
.language-scala .sc { color: #BA2121 } /* Literal.String.Char */
.language-scala .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.language-scala .s2 { color: #BA2121 } /* Literal.String.Double */
.language-scala .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.language-scala .sh { color: #BA2121 } /* Literal.String.Heredoc */
.language-scala .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.language-scala .sx { color: #008000 } /* Literal.String.Other */
.language-scala .sr { color: #BB6688 } /* Literal.String.Regex */
.language-scala .s1 { color: #BA2121 } /* Literal.String.Single */
.language-scala .ss { color: #19177C } /* Literal.String.Symbol */
.language-scala .bp { color: #008000 } /* Name.Builtin.Pseudo */
.language-scala .vc { color: #19177C } /* Name.Variable.Class */
.language-scala .vg { color: #19177C } /* Name.Variable.Global */
.language-scala .vi { color: #19177C } /* Name.Variable.Instance */
.language-scala .il { color: #666666 } /* Literal.Number.Integer.Long */
